#添加武器
weapon:
  #名字
  wooden_sword:
    #名字，必须
    name: 桃木剑
    #星级(1-5)，必须
    star: 1
    #伤害值，必须
    damage: 
      value: 5
      add_per_level: 0
    #攻速
    attack_speed: 
      value: 1.6
      add_per_level: 0
    #耐久
    durability: 
      value:50
      add_per_level: 0
    #攻击成功率加成(反闪避)
    success_attack_rate_add: 
      value: 0
      add_per_level: 0
    #暴击率
    crit_rate: 
      value: 0.05
      add_per_level: 0
    #暴击加成系数(0.5就是多50%伤害)
    crit_damage: 
      value: 0.5
      add_per_level: 0
    #等级压制系数(可以是负数，等级低的玩家更容易胜利)高一级伤害多的系数
    level_repression: 
      value: -0.01
      add_per_level: 0
    #等级压制上限
    level_repression_limit:
      value: 0
      add_per_level: 0
    #附魔属性(原版)
    enchant:
      unbreaking:
        1

  stone_sword:
    name: 石中剑
    star: 2
    damage: 
      value: 6
      add_per_level: 0
    attack_speed: 
      value: 2.2
      add_per_level: 0
    durability: 
      value: 75
      add_per_level: 0
    success_attack_rate_add: 
      value: 0.05
      add_per_level: 0
    crit_rate: 
      value: 0.15
      add_per_level: 0
    crit_damage: 
      value: 0.5
      add_per_level: 0
    level_repression: 
      value: 0
      add_per_level: 0
    level_repression_limit:
      value: 0
      add_per_level: 1
    enchant:
      sharpness:
        1

  diamond_sword:
    name: 流星战刃
    star: 5
    damage: 
      value: 15
      add_per_level: 0
    attack_speed: 
      value: 4
      add_per_level: 0
    durability: 
      value: 1800
      add_per_level: 0
    success_attack_rate_add: 
      value: 0.05
      add_per_level: 0
    crit_rate: 
      value: 0.4
      add_per_level: 0
    crit_damage: 
      value: 0.75
      add_per_level: 0
    level_repression: 
      value: 0.4
      add_per_level: 0
    level_repression_limit:
      value: 8
      add_per_level: 1
    enchant:
      fire_aspect:
        1

#添加rpg游戏场地
game_field:
  #id
  field_1:
    #场地名称
    name: 测试1
    #场地长方形区域确定
    x_coordinates: [100,300] #x坐标
    z_coordinates: [200,300] #z坐标
    is_available: true #是否开放给玩家，如果不开放，在尝试进入时提示下面内容
    closed_message: 本区域暂未开放，换一个试试吧!
    allow_build_y: [0,0] #左闭右开区间，表示了哪个y坐标区域允许玩家建造

